.order-contact-info {
  width: 30%;
  padding: 1rem;
  border: solid 1px gray;
  border-right: none;
  background-color: #fafafa;
}
.order-basket-info {
  border: solid 1px gray;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .order-contact-info {
    margin: 1rem;
    width: auto;
    border-right: solid 1px gray;
  }
  .order-basket-info {
    margin: 1rem;
    border: none;
  }
}


.order-basket-table {
  width: 100%;
}

table {
  margin-bottom: 0;
}

.not-logged-in {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.not-logged-in-content {
  text-align: center;
}

.update-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button[type=update] {
  background-color: #4e396e;
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.5rem;
}

button[type=update]:hover {
  background-color: #35274a;
}

.trash-icon {
  text-align: center;
  vertical-align: middle;
}