.order-contact-info {
  width: 40%;
  margin-top: 1rem;
  padding: 1rem;
  border: solid 1px gray;
  border-right: none;
  background-color: #fafafa;
}

.order-basket-info {
  width: 40%;
  margin-top: 1rem;
  border: solid 1px gray;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-basket-table {
  width: 100%;
}

table {
  margin-bottom: 0;
}