.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #f3f8ff;
}

.site-footer-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.site-social {
  border-bottom: none;
  padding-left: 1rem;
}